
.body{
    margin: auto;
}
.naw{
  list-style-type: none;
  text-align: center;
  font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #FF0000;
letter-spacing: 2px;


}
.link{
    text-decoration: none;
    color: #FF0000;
}
.naw-link{
    display: inline-block;
    margin-right: 72px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.img{
  width: 100%;
  background-size: cover;
  margin-bottom: 49px;
}
.main-title{
    text-align: center;
    font-weight: 700;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
color: #373737;
margin-bottom: 38px;
}
.main-text{
    text-align: center;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
}
.first{
    margin-bottom: 28px;
}
.button-wrapper{
    text-align: center;
}
.second{
    margin-bottom: 66px;
}
.button{
    color: #FFFFFF;
    border: #FF0000;
    background-color: #FF0000;
    font-weight: 700;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
padding: 18px 43px 17px 43px;
margin-bottom: 82px;
}
.footer{
    font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
color: #373737;
text-align: end;
}


    
